/*colors*/
$white: #fff;
$black: #000;
$black-grey: #333;
$magenta: #ec008c;
$light-grey: #eee;
$translucent-black:rgba(0, 0, 0, 0.5);

/*size*/
$logo-width: 60px;
$logo-width-mobile: 50px;
$h-half-unit:12px;
$h-unit: 24px;
$h-unitx2: 48px;
$h-unitx3: 72px;
$h-unit-mobile:20px;

/*fonts*/
$huge-on-option: 21px HUGEAvantGardeBold;
$galaxie-on-option: 16px Galaxie;
$huge-H1: 9vw HUGEAvantGardeBold;
$huge-H1-mobile: 11vw HUGEAvantGardeBold;
$galaxie-on-p: 24px Galaxie;
$copyright: 12px 'helvetica';


$option-tags: '.option:active, .option:hover, option:link';